@import url(https://fonts.googleapis.com/css?family=Lato);
body{
  font-family: lato, 'helvetica-light';
}
form{
    max-width: 400px;
    margin:auto;
    margin:auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
#cardF{
    display: grid;
    background-color: blue;
    grid-template-columns:1fr 1fr;

}
#cardB{
    display:grid;
}