div{
    border:1px solid;
    padding: 2rem;
    width: 600px;
    background: #fff;
}
.title{
    text-align:center;
    border-bottom:solid;
}

h2{
    color: #006EB6;
}
img{
    width:500px;height:500px;
}
