div{
    border:1px solid #545454;
    padding: 2rem;
    width: 90%;
    max-width: 1200px;
    background: #fff;
    margin: 0 auto;
}
.title{
    text-align:center;
    border-bottom:solid #5a5a5a;
    letter-spacing:10px;
}
h1{
    font-size:30px;
}
h2{
    color: #006EB6;
    font-size:15px;
}    
main{
    font-size:20px;
    line-height:2;
}
.image{
    width: 130px;
    height: auto;
    display: block;
}
