div{
    border:1px solid #545454;
    padding: 2rem;
    width: 600px;
    background: #fff;
    margin: 0 auto;
}
.title{
    text-align:center;
    border-bottom:solid #5a5a5a;
}

h2{
    color: #006EB6;
}    
.image{
    width: 130px;
    height: auto;
    display: block;
}
